<?xml version="1.0"?>
<configuration>


	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="FeedEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="EXCEL_PATH" value="C:\Users\wthatar\Dropbox\Public\stock.xls"/>
	</appSettings>
	
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <FeedEngine.Properties.Settings>
            <setting name="FeedEngine_com_morningstar_equityapi_GlobalMasterListsService"
                serializeAs="String">
                <value>http://equityapi.morningstar.com/Webservice/GlobalMasterListsService.asmx</value>
            </setting>
            <setting name="FeedEngine_com_morningstar_equityapi1_InvestorRelationsService"
                serializeAs="String">
                <value>http://equityapi.morningstar.com/Webservice/InvestorRelationsService.asmx</value>
            </setting>
        </FeedEngine.Properties.Settings>
    </applicationSettings>
</configuration>
