<?xml version="1.0"?>
<configuration>
    
	<configSections>
    </configSections>
	
    <connectionStrings>
		<clear />
		<add name="FlightSimulator.Properties.Settings.CachedConnectionString" connectionString="Data Source=|DataDirectory|\Cached.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>

	<appSettings>
		<add key="EXCEL_PATH" value="C:\simu\data\rawdata.xls"/>
		<add key="Template" value="C:\simu\templates\template.htm"/>
		<add key="UserGramma" value="0.9"/>
		<add key="UserTZero" value="100"/>
		<add key="UserAlphaExponential" value="0.99"/>
		<add key="UserAlphaLinear" value="0.9"/>
		<add key="UserAlphaGeomatric" value="0.9"/>
		<add key="UserIteration" value="100"/>
		<add key="UserStopTemparation" value="0.01"/>
		<add key="IE" value="C:\Program Files\Internet Explorer\iexplore.exe"/>
	</appSettings>
	
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>

</configuration>